.priceIndexComponent {
  background-color: #D9DFEE;
  padding: 0 10% 10% 10%;
}

.priceIndexWrapper {
  background: #f3f5fa;
  border-radius: 0px 30px 30px 30px;
}

.pageChangerButtons {
  position: absolute;
  margin-top: -39px;
  z-index: 2;
}

.SecondpageChangerButtons{
  position: absolute;
  margin-top: -39px;
  margin-left: 125px;
  background: #f3f5fa;
  border-radius: 20px 20px 0px 0px;
  width: 145px;
  height: 39px;
  box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  color: #08074e;
  text-align: center;
  font-family: "Hanken Grotesk-Semi Bold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 15px;
}

.overViewImg{
  position: absolute;
  margin-top: -86px;
  margin-left: 95px;
  width: 120px;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.SecondpageChangerButtons:hover + .overViewImg {
  opacity: 1;
}

.pageChanger {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  width: 150px;
  height: 39px;
  background: #08074e;
  border-radius: 20px 20px 0 0;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  font-family: "Hanken Grotesk-Semi Bold", sans-serif;
  font-size: 15px;
  box-shadow: 2px 0px 16.8px 0px rgba(0, 0, 0, 0.25);
}

.SecondpageChangerButtons:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.byBucketFocused {
  color: #08074e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-left: 5px;
  border-left: solid 2px #08074e;
  cursor: pointer;
}

.byBucket {
  color: #d2d3d8;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-left: 6.5px;
  cursor: pointer;
}

.changeChoice {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 2px;
}


.byListFocused {
  color: #08074e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-left: 5px;
  border-left: solid 2px #08074e;
  cursor: pointer;
}

.byList {
  color: #d2d3d8;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-left: 6.5px;
  cursor: pointer;
}

.categorie {
  color: #08074e;
  text-align: center;
  font-family: "Hanken Grotesk-Semi Bold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.MDDSelection{
  width: 95px;
}

.RayonSelection{
  width: 150px;
}
.CategorieSelection{
  width: 250px;
}

.HomologationSelection{
  width:90px;
}

.priceIndexChoices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 4% 25px 4%;
}

.PriceLine {
  border-style: solid;
  border-color: #d2d3d8;
  border-width: 1px 0px 0px 0px;
}

.priceRectangle {
  border-radius: 20px;
  border-style: solid;
  border-color: #8d8dae;
  border-width: 1px;
  height: 289px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8% 20% ;
}

.category{
  color: #8d8dae;
  text-align: center;
  font-family: "Hanken Grotesk-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.priceCategories{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.TableByList,
.TableByBucket{
  padding: 2% 6% 4% 6%;
}

.PriceIndexApply {
  background: #08074e;
  border-radius: 20px;
  border-style: solid;
  border-color: #565656;
  border-width: 0.5px;
  color: #fdfdfd;
  text-align: center;
  font-family: "Hanken Grotesk-Regular", sans-serif;
  width: 80px;
  height: 25px;
  margin-bottom: 2px;
}