.ManualCorrelationTable {
    width: 100%;
    border-collapse: collapse;
    padding: 1% 5% 2% 5%;
    border-collapse: separate;
    border-spacing: 10px;
    background-clip: padding-box;
}

.ManualCorrelationTable th,
.ManualCorrelationTable td {
    background: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #8d8dae;
    text-align: center;
    font-family: "Hanken Grotesk-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 17px;
    height: 48px;
    margin: 5px;
    box-sizing: border-box;
}

.ManualCorrelationTable td {
    font-size: 11px;
    height: 40px;
}

.ManualCorrelationTable th {
    color: #08074e;
    text-align: center;
    font-family: "Hanken Grotesk-Semi Bold", sans-serif;
    font-size: 11px;
    font-weight: 600;
    align-items: center;
}

.ManualCorrelationTable td:nth-child(1) {
    color: #08074e;
    text-align: center;
    font-family: "Hanken Grotesk-Semi Bold", sans-serif;
    font-size: 11px;
    font-weight: 600;
    align-items: center;
}

.CorrelationfirstProd {
    color: #8d8dae;
    text-align: center;
    font-family: "Hanken Grotesk-Semi Bold", sans-serif;
    font-size: 18px;
    line-height: 31.34px;
    letter-spacing: 0.28px;
    font-weight: 600;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    gap: 4px;
}

.theItemNumbers {
    color: #08074e;
    text-align: center;
    font-family: "Hanken Grotesk-Semi Bold", sans-serif;
    font-size: 17px;
    font-weight: 600;
}
