.search_inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.search_container .search_inner input {
    border-radius: 25px;
    padding-left: 5px;
    border-style: solid;
    border-color: #8d8dae;
    color: #8d8dae;
    text-align: left;
    font-family: "Hanken Grotesk-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    border-width: 2px;
    width: 255px;
    margin: 0;
    height: 40px;
}

.TextInputButt {
    background: #08074e;
    color: #fdfdfd;
    text-align: center;
    font-family: "Hanken Grotesk-Regular", sans-serif;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.28px;
    font-weight: 400;
    border-radius: 20px;
    width: 100px;
    height: 42px;
}

.dropdown{
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 16px 25px -10px rgba(0, 0, 0, 0.15);
    padding: 5px;
    width: 255px;
    position: absolute;
    margin-top: 50px;
    max-height: 180px;
    overflow: auto;
}
.dropdown::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
}

.dropdown::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.dropdown::-webkit-scrollbar-track {
    background: transparent;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.dropdown_row{
    width: 100%;
    color: #08074e;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide the overflow content */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
    border: none solid none solid; /* Optional: Add a border for visibility */
    border-color: #949494;
    border-width: 2px;
    padding: 6px 0px;
    cursor: context-menu;
    text-align: left;
    font-family: "Hanken Grotesk-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.dropdown_row:hover {
    background: #e6e6ed;
    border-radius: 5px;
  }

.SearchComponent{
    display: flex;
    justify-content: center;
    align-items: center;
}