.HeatmapContainer .TopTenPageChangerButtons {
    margin-top: -39px;
    margin-left: 200px;
}

.HeatmapContainer .correlationPageNavigateButtons {
    margin-top: -39px;
    margin-left: 0px;
}

.GoToComparatorButtonsTop {
    margin-top: -39px;
    margin-left: 100px;
}